language: python

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed for sphinx builds, which can no longer
# be installed with sudo apt-get.
addons:
    apt:
        packages:
            - graphviz
            - texlive-latex-extra
            - dvipng

python:
    - 3.5
    - 3.6

env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - NUMPY_VERSION=stable
        - ASTROPY_VERSION=development
        - MAIN_CMD='python setup.py'
        - CONDA_DEPENDENCIES='scipy'
        - ASDF_GIT='git+https://github.com/spacetelescope/asdf.git#egg=asdf'
        - PIP_DEPENDENCIES="pytest-astropy $ASDF_GIT"
        - ASTROPY_USE_SYSTEM_PYTEST=1

    matrix:
        - SETUP_CMD='egg_info'
        - SETUP_CMD='test'

matrix:

    # Don't wait for allowed failures
    fast_finish: true

    include:

        # Do a coverage test.
        - python: 3.5
          env: SETUP_CMD='test --coverage --open-files --remote-data'

        # Check for sphinx doc build warnings - we do this first because it
        # may run for a long time
        - python: 3.6
          env: SETUP_CMD='build_docs -w'

        # Numpy
        - python: 3.6
          env: NUMPY_VERSION=1.12 SETUP_CMD="test"
        - python: 3.6
          env: NUMPY_VERSION=1.13 SETUP_CMD="test"

        # Do a PEP8 test with flake8
        - python: 3.5
          env: MAIN_CMD='flake8 gwcs --count' SETUP_CMD=''

    allow_failures:
        - python: 3.5
          env: MAIN_CMD='flake8 gwcs --count' SETUP_CMD=''

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda.sh

script:
    - $MAIN_CMD $SETUP_CMD

after_success:
    # If coveralls.io is set up for this package, uncomment the line
    # below and replace "packagename" with the name of your package.
    # The coveragerc file may be customized as needed for your package.
    - if [[ $SETUP_CMD == *--coverage* ]]; then
          coveralls --rcfile='gwcs/tests/coveragerc';
      fi
