name: test

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
  workflow_dispatch:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 9 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      envs: |
        - linux: check-style
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      envs: |
        - linux: py311-oldestdeps
        - linux: py311
        - linux: py312
        - linux: py314
        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version
        - linux: py313-cov
          coverage: codecov
          pytest-results-summary: true
        - macos: py313
          pytest-results-summary: true
        - linux: py314-dev
