name: 'CI'

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 9 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DATA_PATH: /tmp/data

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: check-style
        - linux: check-security
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: py310
        - linux: py310-numpy123
        - linux: py310-numpy125
        - linux: py311
          pytest-results-summary: true
        - macos: py311
          pytest-results-summary: true
        - linux: py311-pyargs
        - linux: py311-cov
          coverage: codecov
          pytest-results-summary: true
        - linux: py3-dev
  crds_contexts:
    uses: spacetelescope/crds/.github/workflows/contexts.yml@master
  test_downstream:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    needs: [ crds_contexts ]
    with:
      setenv: |
        CRDS_PATH: ${{ env.DATA_PATH }}/crds
        CRDS_SERVER_URL: https://jwst-crds.stsci.edu
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: ${{ env.DATA_PATH }}/crds
      cache-key: crds-${{ needs.crds_contexts.outputs.jwst }}
      envs: |
        - linux: py311-test-jwst-cov-xdist
