name: 'CI'

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 9 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: check-style
        - linux: check-security
        - linux: check-build
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    with:
      envs: |
        - linux: test
          python-version: 3.9
        - linux: test-numpy125
          python-version: 3.9
        - linux: test-numpy122
          python-version: 3.9
        - linux: test
          python-version: 3.10
        - linux: test-numpy125
          python-version: 3.10
        - linux: test-numpy122
          python-version: 3.10
        - linux: test
          python-version: 3.11
          pytest-results-summary: true
        - macos: test
          python-version: 3.11
          pytest-results-summary: true
        - linux: test-dev
        - linux: test-pyargs
          python-version: 3.11
        - linux: test-cov
          python-version: 3.11
          coverage: codecov
          pytest-results-summary: true
  crds:
    name: retrieve current CRDS context
    runs-on: ubuntu-latest
    env:
      OBSERVATORY: jwst
      CRDS_PATH: /tmp/crds_cache
      CRDS_SERVER_URL: https://jwst-crds.stsci.edu
    steps:
      - id: context
        run: >
          echo "pmap=$(
          curl -s -X POST -d '{"jsonrpc": "1.0", "method": "get_default_context", "params": ["${{ env.OBSERVATORY }}"], "id": 1}' ${{ env.CRDS_SERVER_URL }}/json/ |
          python -c "import sys, json; print(json.load(sys.stdin)['result'])"
          )" >> $GITHUB_OUTPUT
        # Get default CRDS_CONTEXT without installing crds client
        # See https://hst-crds.stsci.edu/static/users_guide/web_services.html#generic-request
      - id: path
        run: echo "path=${{ env.CRDS_PATH }}" >> $GITHUB_OUTPUT
      - id: server
        run: echo "url=${{ env.CRDS_SERVER_URL }}" >> $GITHUB_OUTPUT
    outputs:
      context: ${{ steps.context.outputs.pmap }}
      path: ${{ steps.path.outputs.path }}
      server: ${{ steps.server.outputs.url }}
  test_downstream:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    needs: [ crds ]
    with:
      setenv: |
        CRDS_PATH: ${{ needs.crds.outputs.path }}
        CRDS_SERVER_URL: ${{ needs.crds.outputs.server }}
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: ${{ needs.crds.outputs.path }}
      cache-key: crds-${{ needs.crds.outputs.context }}
      envs: |
        - linux: py310-test-jwst-cov-xdist
